Incorporar el desarrollo del Item junto con los comentarios solicitados en celdas independientes. Siga el ejemplo:
*Codigo; Salida de codigo; comentarios*


# Tarea 1

## Integrantes

- Vicente Arratia
- Javier Montoya
- Nikolai Navea

In [3]:
#cargar datos.
#install.packages("readxl")
library(readxl)
data=read_xlsx("/content/BASE_FINAL_SEGPRES_ERTM_DA.xlsx")
data=as.data.frame(data)

In [4]:
# Elegimos los index para crear la nueva columna con los que cumplan con poder pagar en linea (1)
inicio <- which(names(data) == "P44.2.1")
fin <- which(names(data) == "P44.2.24")

# Creamos la nueva columna
data$suma_pago_en_linea <- rowSums(data[, inicio:fin] == 1)

# Seleccionamos las columnas a trabajar indicadas
data_final <- data[, c("TIP_SUBDERE", "TOTAL_FUNCIONARIOS_SUMA", "P6.1", "P6.2", "P6.3", "P7.1", "P7.2", "P7.3","P7.4", "P7.5","P22.1","suma_pago_en_linea")]

head(data_final,5)

  TIP_SUBDERE TOTAL_FUNCIONARIOS_SUMA P6.1 P6.2 P6.3 P7.1 P7.2 P7.3 P7.4 P7.5
1 5           209                     33   41     8  28   52   57   26    8
2 5            95                     15    3    38  21   19   NA   NA   NA
3 6            NA                     NA   NA    NA  NA   NA   NA   NA   NA
4 6            NA                     NA   NA    NA  NA   NA   NA   NA   NA
5 3           500                     52   22   213  NA   NA   NA   NA   NA
  P22.1 suma_pago_en_linea
1 85    NA
2 46    NA
3 NA     0
4 NA    NA
5 NA    NA

##PREGUNTA 1

Identificar si existen diferencias apreciables de cantidad de funcionarios de planta y funcionarios
a contrata + honorarios, considerando los siguientes grupos de municipios:

## Desarrollo Item 1.a.
Comunas grandes versus urbanas

In [5]:
#            TIPOLOGÍA SUBDERE

#1,00 GRANDES COMUNAS METROPOLITANAS, ALTO DESARROLLO
#2,00 GRANDES COMUNAS METROPOLITANAS, DESARROLLO MEDIO
#3,00 COMUNAS URBANAS MAYORES, DESARROLLO MEDIO
#4,00 COMUNAS URBANAS MEDIANAS, DESARROLLO MEDIO
#5,00 COMUNAS SEMIURBANAS Y RURALES, DESARROLLO MEDIO
#6,00 COMUNAS SEMIURBANAS Y RURALES, BAJO DESARROLLO

# 1-2 GRANDES
# 3-4 URBANAS
# 5-6 SEMIURBANA RURAL

In [8]:
data_final$funcionarios_contrata_honorario <- data_final$P6.2 + data_final$P6.3
head(data_final,5)

  TIP_SUBDERE TOTAL_FUNCIONARIOS_SUMA P6.1 P6.2 P6.3 P7.1 P7.2 P7.3 P7.4 P7.5
1 5           209                     33   41     8  28   52   57   26    8
2 5            95                     15    3    38  21   19   NA   NA   NA
3 6            NA                     NA   NA    NA  NA   NA   NA   NA   NA
4 6            NA                     NA   NA    NA  NA   NA   NA   NA   NA
5 3           500                     52   22   213  NA   NA   NA   NA   NA
  P22.1 suma_pago_en_linea funcionarios_contrata_honorario
1 85    NA                  49
2 46    NA                  41
3 NA     0                  NA
4 NA    NA                  NA
5 NA    NA                 235

Comentarios:

## Desarrollo Item 1.b.
Comunas grandes versus semiurbanas y rurales

In [ ]:
summary(data)

Comentarios:

## Desarrollo Item 1.c.
Comunas urbanas versus semiurbanas y rurales

Comentarios:

##PREGUNTA 2

## Desarrollo Item 2.a

In [ ]:
summary(data$Price)
max(data$Price, na.rm= TRUE)
which(data$Price==3399000)
data[38737, ]

Comentarios:

## Desarrollo Item 2.b.

##PREGUNTA 3

## Desarrollo Item 3.a

In [ ]:
nuevodata <- sample_n(data, 1000)
nuevodata=as.data.frame(nuevodata)
boxplot(nuevodata$Mileage, main="", col="purple", ylab="Precio autos")

Comentarios: